body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 20px;
    opacity: 0.15;
}

::-webkit-scrollbar-track {
    background-color: #021825;
}

::-webkit-scrollbar-thumb {
    background-color: #dcccbd;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    opacity: 0.15;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d4996f;
}
